<div class=container>
  <div class="alert alert-info">
    <h1 class="text-center">Robot Age:</h1>
    <table class="table table-hover table-condensed">
      <tr><td class="col-md-11"><h3>Average age in years</h3></td><td class="col-md-1"><h3><%= @analyst.average_age %></h3></td></tr>
    </table>
  </div>
</div><!-- container -->

<div class=container>
  <div class="alert alert-warning">
    <H1 class="text-center">Count of Robots by State:</H1>
    <table class="table table-hover table-condensed">
    <% @analyst.state_data_view.each_pair do |key, value| %>
      <tr><td class="col-md-11"><h3><%=key%></h3></td><td class="col-md-1"><h3><%=value%></h3></td></tr>
    <% end %>
    </table>
  </div><!--state-->
</div><!-- container -->

<div class=container>
  <div class="alert alert-success">
    <H1 class="text-center">Count of Robots by City:</H1>
    <table class="table table-hover table-condensed">
    <% @analyst.city_data_view.each_pair do |key, value| %>
      <tr><td class="col-md-11"><h3><%=key%></h3></td><td class="col-md-1"><h3><%=value%></h3></td></tr>
    <% end %>
    </table>
  </div><!--City-->
</div><!-- container -->

<div class=container>
  <div class="alert alert-info">
    <H1 class="text-center">Count of Robots Hired by Year:</H1>
    <table class="table table-hover table-condensed">
    <% @analyst.year_hired_data_view.each_pair do |key, value| %>
      <tr><td class="col-md-11"><h3><%=key%></h3></td><td class="col-md-1"><h3><%=value%></h3></td></tr>
    <% end %>
    </table>
  </div><!--Year Hired-->
</div><!-- container -->

<div class=container>
  <div class="alert alert-danger">
    <H1 class="text-center">Count of Robots by Department:</H1>
    <table class="table table-hover table-condensed">
    <% @analyst.department_data_view.each_pair do |key, value| %>
      <tr><td class="col-md-11"><h3><%=key%></h3></td><td class="col-md-1"><h3><%=value%></h3></td></tr>
    <% end %>
    </table>
  </div><!--department-->
</div><!-- container -->
