<div class="col-md-10 col-md-offset-1 panel panel-default">

  <div class="panel-body">

    <div class="col-md-7">
      <img src="<%= @robot.avatar_md %>">
    </div>

    <div class="col-md-5 voffset6">
      <h2><%= @robot.name %></h2>
      <h4><%= @robot.department %></h4>
      <h5><%= @robot.city %>, <%= @robot.state %></h5>
      <p>Birthday: <%= @robot.birthdate.to_s %> || Date hired: <%= @robot.date_hired.to_s %></p>
    </div>

    <div class="col-md-offset-7">
      <div class="btn-group" role="group">
        <a class="btn btn-primary btn-lg" href="/robots/<%= @robot.id %>/edit">Edit</a>
        <form class="col-md-4" action="/robots/<%= @robot.id %>" method="post">
          <input type="hidden" name="_method" value="delete"/>
          <input class="btn btn-lg btn-danger" type="submit" value="delete"/>
        </form>
      </div>
    </div>

  </div>

</div>
